.box {
  margin-left: 386px;
  margin-top: 0;
  width: 1150px;
  height: 588px;
}

.siteName1 {
  width: 7vw;
  margin-left: 2rem;
  font-size: 19px;
  font-weight: 600;
}

.siteAddress1 {
  width: 8.5vw;
  margin-left: 2rem;
  font-size: 19px;
  font-weight: 600;
}
.borderBox1 {
  width: 60vw;
  height: 58vh;
  border: 1px solid black;
  margin-left: 32vw;
  border-top: none;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  box-shadow: 0 2.5px #888888;
  border-left-color: grey;
  border-right-color: grey;
  border-bottom-color: grey;
}

.registrationDateBlock13 {
  width: 10.5vw;
  margin-left: 2vw;
  font-size: 19px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}

.filters {
  margin-top: 61px;
  margin-left: 90px;
  margin-right: 90px;
}

.filter {
  vertical-align: middle;
  margin-right: 10px;
}

.filtericon {
  float: left;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #1e324a;
  margin-right: 26px;
}

.boxfilter {
  margin: 0 auto;
  width: 842px;
  height: 55px;
  display: flex;
  float: left;
}

.dailyfilter {
  height: 43px;
  width: 196px;
  background: #fff;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}

.daily {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.39);

  position: absolute;
  width: 51px;
  height: 30px;
  left: 13px;
  top: 3px;
}

.dropdown-arrow {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
  /* position: relative; */
  position: absolute;
  left: 80.81%;
  right: 54.74%;
  top: 27.75%;
  bottom: 75.41%;
}

.dailyfilter:hover .dropdown-arrow {
  top: 25px;
  /* border-left: 10px solid transparent; */
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(72 158 145);
  border-top: 10px solid transparent;
}

.dropdown-menu {
  list-style-type: none;
  display: none;
  background: #555;
  background: rgb(87 150 151 / 90%);
}

.dailyfilter:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
}

.dropdown-menu ul li {
  list-style-type: none;
  display: block;
  height: 43px;
  width: 196px;
  font-size: 1.5em;
  line-height: 2.5em;
  color: #fff;
  border-bottom: 2px solid rgb(54 165 204);
  padding-bottom: 10px;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li:hover {
  background: #55afb1;
  color: #fff;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.custom {
  margin-left: 43px;
}

.custom input[type="date"] {
  width: 253px;
  height: 43px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.39);
}

.custom input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.39);
}

.custom input[type="date"]::selection {
  border: none;
}

.to {
  margin-left: 22px;
  margin-right: 22px;
}

.custom1 input[type="date"] {
  width: 253px;
  height: 43px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 4px 14px 32px 0px rgba(0, 0, 0, 0.39);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.39);
}

.custom1 input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.39);
}

.custom1 input[type="date"]::selection {
  border: none;
}

.dashboardDetails {
  display: block;
  margin-top: 77px;
}

.da-col {
  margin-left: 79px;
  margin-right: 118px;
  margin-bottom: 50px;
  width: 60px;
  height: 196px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.da-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  color: #1e324a;
  margin-top: 5px;
}

.da-text1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  color: #1e324a;
  margin-top: 5px;
  margin-left: 15px;
  float: left;
}

.eye button {
  background: linear-gradient(0deg, #2beb0c, #2beb0c);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 107px;
  height: 44px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
}

.da-review-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #1e324a;
  float: left;
}

.da-review {
  float: left;
  margin-left: 4px;
  color: #333;
  font-family: monospace;
}

.da-reviews {
  margin-top: 5px;
  margin-bottom: 3px;
}

.da-more button {
  background: linear-gradient(0deg, #2beb0c, #2beb0c);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 107px;
  height: 44px;
  border: none;
  cursor: pointer;
}

.bike {
  width: 100px;
  height: 50px;
}

.car {
  width: 100px;
  height: 50px;
}

.coloredButtonBlock13 {
  background-color: #2beb0c;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 3px #c7c4c4;
  width: 8vw;
  border: 1px solid #2beb0c;
}

.buttonRegister13 {
  margin-top: 8vh;
}

@media screen and (max-width: 600px) {
  .box,
  .boxfilter,
  .dashboardDetails,
  .filters,
  .dailyfilter,
  .custom,
  .to,
  .custom1 {
    flex-direction: column;
    max-width: 100%;
    float: none;
  }

  .daily,
  .dropdown-menu {
    position: unset;
  }

  .box {
    margin-left: 0;
  }

  .filtericon,
  .dailyfilter {
    margin-bottom: 10px;
  }

  .custom,
  .to,
  .custom1 {
    margin-left: 0;
    float: left;
    text-align: left;
  }
  .custom {
    margin-bottom: 10px;
  }

  .dashboardDetails {
    margin-top: 120px;
  }

  .da-col {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .nameResponsive13 {
    width: 32vw;
  }
  .siteName1 {
    width: 26vw;
    margin-left: 4vw;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
  }
  .borderBox1 {
    width: 87vw;
    height: 68vh;
    border: 1px solid black;
    margin-left: 32vw;
    border-top: none;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    box-shadow: 0 2.5px #888888;
    border-left-color: grey;
    border-right-color: grey;
    border-bottom-color: grey;
  }
  .siteAddress1 {
    width: 33vw;
    margin-left: 2vw;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
  }

  .registrationDate13 {
    width: 10.5vw;
    margin-left: 2vw;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
  }

  .box,
  .boxfilter,
  .dashboardDetails,
  .filters,
  .dailyfilter,
  .custom,
  .to,
  .custom1 {
    flex-direction: column;
    max-width: 100%;
    float: none;
  }

  .daily,
  .dropdown-menu {
    position: unset;
  }

  .box {
    margin-left: 0;
  }

  .filtericon,
  .dailyfilter {
    margin-bottom: 10px;
  }

  .custom,
  .to,
  .custom1 {
    margin-left: 0;
    float: left;
    text-align: left;
  }
  .custom {
    margin-bottom: 10px;
  }

  .dashboardDetails {
    margin-top: 120px;
  }

  .da-col {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .custom {
    margin-left: 0;
    float: left;
    text-align: left;
  }

  .filters {
    margin-left: 15%;
  }

  .da-col {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  /* .borderBox1{
    display: flex;
    height: 70vh;
    width: 70%;
    margin-top: 1rem;
  } */

  /* .siteNameBlockResonsive13 {
    width: 30vw;
    margin-left: 2vw;
    font-size: 19px;
    font-weight: 600;
} */
}

@media screen and (min-width: 802px) and (max-width: 1150px) {
  .da-col {
    height: auto;
    margin-left: 5%;
    margin-right: 0;
    padding-right: 2.82%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .custom,
  .to,
  .custom1 {
    margin-left: 0;
    float: left;
    text-align: right;
  }

  .coloredButtonBlock13 {
    cursor: pointer;
    width: 22%;
    margin-bottom: 2vh;
    display: flex;
    justify-content: centre;
    align-items: center;
    justify-content: space-evenly;
  }

  .buttonRegister13 {
    width: 100%;
}

  .dailyfilter {
    position: relative;
    transform: translateY(240%);
  }

  .filtericon {
    position: relative;
    transform: translateY(220%);
  }
}

@media screen and (max-width: 300px) {
  .da-col {
    width: 100%;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .custom {
    margin-left: 0;
    float: left;
    text-align: left;
  }

  .filters {
    margin-left: 0;
  }
}

.heading13 {
  font-size: 32px;
  color: #1093a4;
  text-decoration-line: underline;
  text-underline-offset: 3.5vh;
}
.headings13 {
  margin-top: 5vh;
  margin-bottom: 8vh;
  margin-left: 22vw;
  /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
}

.da-more button {
  background: linear-gradient(0deg, #2beb0c, #2beb0c);
  box-shadow: 0px 4px 4px rgba(49, 46, 46, 0.25);
  border-radius: 10px;
  width: 100%;
  height: 7vh;
  border: none;
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 9vw;
}

.borderBox13 {
  width: 62vw;
  height: 5vh;
  margin-left: 32vw;
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.siteName13 {
  width: 7vw;
  margin-left: 2vw;
  font-size: 19px;
  font-weight: 600;
}
.siteNameBlock13 {
  width: 7vw;
  margin-left: 2vw;
  font-size: 19px;
  font-weight: 600;
}
.firstinput13 {
  width: 24vw;
  justify-content: flex-start;
  margin-left: 2.5vw;
}

.firstBox {
  display: flex;
  flex-direction: column;
  padding-top: 4.5vh;
  margin-left: 1vw;
}

.secondBox {
  display: flex;
  flex-direction: column;
  padding-top: 4.5vh;
  margin-bottom: 3vh;
  margin-left: 3.5vw;
}

.siteAddressBlock13 {
  width: 8vw;
  margin-left: 2rem;
  font-size: 19px;
  font-weight: 600;
}

.secondinput13 {
  width: 25vw;
  justify-content: flex-start;
  margin-left: 2rem;
}

.flexbox {
  display: flex;
}

.thirdBox {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 1vw;
  padding-top: 3vw;
}

.thirdinput13 {
  width: 25vw;
  justify-content: flex-start;
  margin-left: 2rem;
  content: attr(placeholder) !important;
}

input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}

input[type="date"] {
  color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

.noDecoration13 {
  text-decoration: none;
}

.border13 {
  height: 4vh;
  width: 4vh;
  border: 1px solid grey;
  border-radius: 6px;
  margin-left: 0.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondBorder13 {
  height: 3.8vh;
  width: 3.8vh;
  border: 1px solid grey;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  /* padding: 8px 16px; */
  margin: 0 0.5vw;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.siteNamewidth13 {
  width: 7vw;
}

@media screen and (max-width: 990px) {
  .heading13 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    width: 100%;
  }
  .siteName13 {
    width: 50%;
    margin-left: 0px;
  }
  .firstinput13 {
    width: 90%;
  }
  .secondinput13 {
    width: 90%;
    margin-left: 0px;
  }
  .thirdinput13 {
    width: 90%;
    margin-left: 2.5vw;
  }
  .siteAddress13 {
    width: 50%;
    margin-left: 0px;
  }
  .registrationDate13 {
    width: 70%;
    margin-left: 20px;
  }
  .flexbox {
    flex-direction: column;
  }
  .borderBox {
    display: flex;
    height: 60vh;
    width: 70%;
  }
  .borderBox13 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
  }
  /* .borderBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
  } */

  .mediaButton {
    width: 32%;
  }

  .wholeBox13 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -25%;
  }
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
    width: 32%;
  }
  #sidebarCollapse {
    position: absolute;
    top: 1%;
    left: -10%;
  }
}

@media screen and (max-width: 990px) {
  .borderBox13 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 990px) {
  .borderBox13 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 35%;
  }
}

@media screen and (max-width: 980px) {
  .registrationDateBlock13 {
    width: 70%;
    margin-left: 5vw;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 880px) {
}
